{% extends "layouts/base.html" %}

{% block title %} Page User {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div id="content-wrapper" class="d-flex flex-column ubicacion">

  {% include 'includes/topbarHide.html' %}

  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Demanda de nutrientes - Estación: {{estacionName}} </h3>
    </div>
    <div class="card-body">
      <h6 class="card-title">Cantidad de nutrientes a reponer para suplir la extracción de nutrientes por la fruta</h6>
      <!-- <p class="card-text">Se realiza un cálculo de las hojas potenciales desde la cosecha hasta la fecha actual</p> -->
      <div class="row">
        <div class="col-md-12">
          <div class="card text-center">
            <div class="card-header card-header-primary">
              <h5 class="card-title">Nutrientes</h5>
              <p class="card-category"></p>
            </div>
            <div class="card-body">
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                <!-- <h5>Desde la fecha de cosecha {{fechaCosecha}} han crecido: {{valorNroHojas}} hojas potenciales.</h5> -->
                <!-- <h5>Desde la fecha {{valor1}} al día de hoy se han producido {{valor2}} Kg. por planta, {{valor3}} Kg. por hectárea</h5> -->

                <!-- <h5>Para reponer los nutrientes en el período de {{intervalo}} días, se deben reponer por cada planta {{valor1}} g. de Nitrógeno, {{valor3}} g. de Potasio, y {{valor5}} g. de Fósforo</h5>

                <h5>En una hectárea se deben reponer {{valor2}} Kg. de Nitrógeno, {{valor4}} Kg. de Potasio y {{valor6}} Kg. de Fósforo  </h5> -->

                <!-- <h5>Los nutrientes a reponer en el último ciclo (Periodo de {{intervalo}} semanas) son: </h5> -->
                <h5>Para suplir los nutrientes extraídos por la fruta, se debe reponer en el siguiente ciclo productivo
                  las cantidades de nutrientes relacionadas a continuación:</h5>
              </div>

            </div>
            <div class="card-body">
              <div class="modal-dialog modal-dialog-scrollable">

                <div class="modal-content">
                  <!-- <div class="modal-header ">
                    <h5 class="modal-title text-center">Nutrientes a reponer</h5>
                  </div> -->
                  <div class="modal-body">
                    <table class="table table-striped table-bordered bg-white table-sm">
                      <thead>
                        <tr>
                          <td>Nutrientes</td>
                          <td>Por planta(g)</td>
                          <td>Por hectárea(Kg)</td>
                        </tr>

                      <tbody>
                        {% for dato in tupla %}
                        <tr>
                          <td>{{dato.0}}</td>
                          <td>{{dato.1}}</td>
                          <td>{{dato.2}}</td>

                        </tr>

                        {% endfor %}

                      </tbody>
                      </thead>
                    </table>
                  </div>

                </div>
              </div>

            </div>
            <div class="card-body">
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                <h5>Estos nutrientes se pueden aplicar fraccionados (mensual, trimestral, 
                  semestral o según su plan de nutrición) en función de la disponibilidad de riego en su finca. Recuerde que la aplicación de fertilizantes debe realizarse con el suelo húmedo.</h5>
              </div>

            </div>
          </div>
        </div>
        <!-- <div class="col-md-6">

        </div> -->
      </div>

    </div>
  </div>
</div>



{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}